name: Typescript

on:
  push:
    branches: [ "**" ]
    paths:
      - ts/**
      - .github/workflows/ts.yaml
  pull_request:
    branches: [ "**" ]
    paths:
      - ts/**
      - .github/workflows/ts.yaml

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ts

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true

      - name: Install packages
        run: deno install --frozen

      - name: Run lint
        run: deno lint

      - name: Run test
        run: deno test
